@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="col-sm-12">
    <form id="form_Producto" class="form-horizontal mitad" action="" method="post" accept-charset="utf-8" role="form" enctype="multipart/form-data">
        <fieldset style="margin:0px;padding-top:1px;">
            <legend align="left" style="margin:0px;">Producto</legend>


            <div class="col-sm-12 Sinespacio">
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_Producto_Id" class="col-sm-4 control-label small Title">Cod. Producto</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtProductoId" name="txtProductoId" class="form-control input-sm txtProductoId" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_Producto_Desc" class="col-sm-4 control-label small Title">Descripcion</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtProducto" name="txtProducto" class="form-control input-sm txtProducto" placeholder="" />
                    </div>
                </div>

                @*<div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_FechaProd" class="col-sm-6 small Title control-label">Fecha Compra</label>
                    <div class="col-sm-6 ">
                        <div class='input-group date datetimepickInicio1' id='datep_Fecha'>
                            <input type="text" id="txtFecha" name="txtFecha" class="input-sm form-control" readonly="readonly" />
                            <span class="input-group-addon ">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="col-sm-12">
                <br />
                </div>


            <div class="col-sm-12 Sinespacio">
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_PreciCompra" class="col-sm-4 control-label small Title">Precio de compra</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtPrecioCompra" name="txtPrecioCompra" class="form-control input-sm txtPrecioCompra" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lblPrecioVenta" class="col-sm-4 control-label small Title">Precio de venta</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtPrecioVenta" name="txtPrecioVenta" class="form-control input-sm txtPrecioVenta" placeholder="" />
                    </div>
                </div>

              
            </div>

            <div class="col-sm-12">
                <br />
            </div>



            @*<div class="col-sm-12 Sinespacio">
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lbl_Stock_Ini" class="col-sm-4 control-label small Title">Stock Ini</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockIni" name="txtStockIni" class="form-control input-sm txtStockIni" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lbl_Stock_Act" class="col-sm-4 control-label small Title">Stock Actual</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockActual" name="txtStockActual" class="form-control input-sm txtStockActual" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lblStockMin" class="col-sm-4 control-label small Title">Stock min</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockMin" name="txtStockMin" class="form-control input-sm txtStockMin" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lblStockMax" class="col-sm-4 control-label small Title">Stock max</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockMax" name="txtStockMax" class="form-control input-sm txtStockMax" placeholder="" />
                    </div>
                </div>

            </div>*@

            <div class="col-sm-12">
                <br />
            </div>


            <fieldset style="margin:0px;padding-top:1px;">
                <legend align="left" style="margin:0px;">Listado de Productos</legend>
                <div class="col-sm-12 Sinespacio">
                    <div class="table-responsive">
                        <table class="table table-bordered tbProducto display table-condensed" id="tbProducto" width="100%">
                            <thead id="TableHeader">
                                <tr>
                                    <th class="text-center">Producto</th>
                                    <th class="text-center">Precio de Compra</th>
                                    <th class="text-center">Precio de Venta</th>
                                    <th class="text-center">Stock ini</th>
                                    <th class="text-center">Stock Actual</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

            <div class="col-sm-12 form-group">
                <br />

            </div>
            <div class="col-sm-12 form-group">

                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnNuevo" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nuevo</button>
                </div>
                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnModificar" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modificar</button>
                </div>
                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnEliminar" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eliminar</button>
                </div>
                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnGuardar" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guardar</button>
                </div>
                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnCancelar" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancelar</button>
                </div>
                <div class="col-sm-6 text-center" style="text-align:center;">
                </div>
            </div>


</fieldset>
    </form>
</div>


<input type="hidden" id="hdn_IPRODUCTID" name="hdn_IPRODUCTID" value="0" />
<input type="hidden" id="accion" name="accion" class="accion" value="0" />


<script type="text/javascript">

    $(document).ready(function () {

        var tbProducto = $('#tbProducto').DataTable({
            "order": [[0, "desc"]],
            "sDom": 'T C lfrtip',
            "pageLength": 5,
            //"aoColumnDefs": [
            //           { "bSortable": false, "aTargets": [1], "visible": false }
            //],
            "pagingType": "full_numbers",
            "language": {
                "sZeroRecords": "No se encontraron Registros",
                "sInfo": "Mostrando el total de Registros",
                "sLengthMenu": "Filas por Página",
                "sInfoEmpty": "Mosrando 0 de 0 Registros",
                "sInfoFiltered": "Información Filtrada",
                "sEmptyTable": "No hay datos Disponibles para mostrar en la Tabla",
                "sSearch": "Buscar",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Previo"
                }
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', aData[0]);
                //$(nRow).attr('class', 'lstNote');
                //$(nRow).attr('style', 'cursor:pointer');
            },
            "fnRowCallback": function (nRow, aData, iDataIndex, iDataIndexFull) {
                //$('td:eq(1)', nRow).addClass('text-left font-bold');
            }
        });


        function getObjectProducto() {

            var sPrinterId = $("#txtProducto").val();

            var VDESCRIPTION = $("#txt_vNamePrinter").val();
            var VIPDESCRIPTION = $("#txt_vIpDescription").val();
            //var ILOCATIONID = $("#cboiLocationId").val();

            var oProductoBE = {
                co_producto: $("#txtProductoId").val(),
                tx_descripcion: $("#txtProducto").val(),
                nu_precio: $("#txtPrecioCompra").val()

            };

            return oProductoBE;
        }


        $("#btnGuardar").on('click', function (evt) {
            evt.preventDefault();
            debugger;
            var accion = $("#accion").val();
            var oProducto = getObjectProducto();
            
            debugger;

            if (accion == 1) {

                $.ajax({
                    url: '@Url.Action("GuardarProducto", "Compra")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    data: JSON.stringify(oProducto),
                    async: false,
                    cancel: false,
                    success: function (data) {
                        debugger;
                        if (data.productoCreado.co_producto != 0) {
                            debugger;
                            HabilitarBotonesProducto(true);
                            HabilitarTablaProducto(true);
                            tbProducto.row.add([
                                            data.productoCreado.co_producto,
                                            data.productoCreado.tx_descripcion,
                                            data.productoCreado.nu_precio,
                                            data.productoCreado.nu_precio,
                                            data.productoCreado.nu_precio

                            ]).draw();

                            showdialog("I", "Producto", "Grabado correctamente.", "", "Aceptar");

                        }
                        else {
                            showdialog("I", "Producto", data.mensajeError, "", "Aceptar");

                        }


                    }
                });
            }
            else 
                if (accion == 2) {


                    $.ajax({
                        url: '@Url.Action("ModificarProducto", "Compra")',
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        traditional: true,
                        data: JSON.stringify(oProducto),
                        async: false,
                        cancel: false,
                        success: function (data) {
                            debugger;
                            if (data != null) {
                                HabilitarBotonesProducto(true);
                                HabilitarTablaProducto(true);
                                debugger;
                                tbProducto.row('.selected').remove().draw(false);
                                tbProducto.row.add([
                                                data.co_producto,
                                                data.tx_descripcion,
                                                data.nu_precio,
                                                data.nu_precio,
                                                data.nu_precio

                                ]).draw();

                                showdialog("I", "Producto", "Actualizado correctamente.", "", "Aceptar");

                            }


                        }
                    });


                }
            else 
                    if (accion == 3) {

                        $.ajax({
                            url: '@Url.Action("EliminarProducto", "Compra")',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            traditional: true,
                            data: JSON.stringify(oProducto),
                            async: false,
                            cancel: false,
                            success: function (data) {
                                debugger;
                                //if (data != null) {
                                HabilitarBotonesProducto(true);
                                    debugger;
                                    tbProducto.row('.selected').remove().draw(false);
                                  

                                    showdialog("I", "Producto", "Eliminado correctamente.", "", "Aceptar");

                               // }


                            }
                        });

                    }

        });

        HabilitarBotonesProducto(true);
        //  $("#btnModificar").prop('disabled', false);
        function HabilitarBotonesProducto(estado) {
            $("#btnNuevo").prop('disabled', !estado);
            $("#btnGuardar").prop('disabled', estado);
            $("#btnModificar").prop('disabled', !estado);
            $("#btnCancelar").prop('disabled', estado);
            $("#btnEliminar").prop('disabled', !estado);
        }

        
        

        $("#btnNuevo").on('click', function (evt) {
            evt.preventDefault();

            $("#accion").val('1');
            LimpiarCajasProducto();
            HabilitarBotonesProducto(false);
            HabilitarTablaProducto(false);
            //$("#btnModificar").prop('disabled', true);

        });


        $("#btnModificar").on('click', function (evt) {
            evt.preventDefault();
            var iProductoId = $("#hdn_IPRODUCTID").val();
            if (iProductoId != 0) {
                $("#accion").val('2');
                HabilitarBotonesProducto(false);
                HabilitarTablaProducto(true);
               // $("#btnNuevo").prop('disabled', true);
            }
            else {
                showdialog("E", "Venta", "WARNING : NO SE HA SELECCIONADO NINGUN REGISTRO ", "", "Aceptar");
            }


        });

        $("#btnEliminar").on('click', function (evt) {
            evt.preventDefault();
            var iProductoId = $("#hdn_IPRODUCTID").val();
            if (iProductoId != 0) {
                $("#accion").val('3');
                // $("#btnNuevo").prop('disabled', true);
            }
            else {
                showdialog("E", "Producto", "WARNING : NO SE HA SELECCIONADO NINGUN REGISTRO ", "", "Aceptar");
            }


        });

        $("#btnCancelar").on('click', function (evt) {
            evt.preventDefault();


            LimpiarCajasProducto();
            HabilitarTablaPrinterUser(true);
            HabilitarBotonesProducto(true);
            HabilitarTablaProducto(true);
            //window.location.href = "http://localhost:3662/Operation/";


        });

        function HabilitarTablaProducto(estado) {
            $("#tbProducto tbody tr").prop('disabled', !estado);
        }


        ListarProducto();
        function ListarProducto()
        {
            $.ajax({
                url: '@Url.Action("ListarProducto", "Compra")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                //data: JSON.stringify(oProducto),
                async: false,
                cancel: false,
                success: function (data) {

                    if (data != null) {
                        $.each(data, function (i, row) {
                            tbProducto.row.add([
                                           row.co_producto,
                                           row.tx_descripcion,
                                           row.nu_precio,
                                           row.nu_precio,
                                           row.nu_precio

                            ]).draw();
                        });
                    }

                }
            });

        }




        $("#tbProducto tbody").on("click", "tr", function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                debugger;
                var iProdId = $(this).attr('id');
                $("#hdn_IPRODUCTID").val(iProdId);
                if (iProdId != null) {
                    tbProducto.$('tr.selected').removeClass('selected');
                    $(this).addClass("selected");


                    var prm = {};
                    prm.co_producto = iProdId;
                    //var prm = parseInt(1);//$("#txtCodProd").val();
                    debugger;
                    $.ajax({
                        url: '@Url.Action("ObtenerProducto", "Venta")',
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        traditional: true,
                        data: JSON.stringify(prm),
                        async: false,
                        cancel: false,
                        success: function (data) {
                            debugger;
                            //if (data.objResult.iResultId == OK) {
                            if (data.oProducto.co_producto != null) {
                                debugger;
                                CargarControlProducto(data.oProducto);

                            }


                        }
                    });


                }


            }


        });

        function CargarControlProducto(data) {
            $("#txtProductoId").val(data.co_producto);
            $("#txtProducto").val(data.tx_descripcion);
            $("#txtPrecioCompra").val(data.nu_precio);

        }


        function LimpiarCajasProducto() {
            $("#txtProductoId").val('');
            $("#txtProducto").val('');
            $("#txtPrecioCompra").val('');
            $("#txtStockIni").val('');
            $("#txtStockActual").val('');
            $("#txtStockMin").val('');
            $("#txtStockMax").val('');

        }


    });



    </script>